// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user_border1 {
  border: 1px solid #000;
  word-wrap: break-word;
}

.user_btm_space {
  padding-bottom: 40px;
}
